body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.app {
  width: 100%;
  height: 100%;
  background-color: #1c261f;
  padding: 10px;
}
.top {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.progress {
  width: 97%;
  height: 88px;
  border-radius: 12px;
  background-color: #243026;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  grid-column: 1/3;
  color: #61c785;
}
.percent {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.percent div {
  width: 10%;
  background-color: #61c785;
  height: 100%;
  border-radius: 3px;
  transition: ease-in 600ms;
}
.time {
  width: 140px;
  height: 30px;
  background-color: #e8d4a6;
  border-radius: 15px;
  align-self: center;
  color: #343a40;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
h4 {
  font-size: 26px;
}
.top section {
  padding: 12px;
  color: #8c9e8f;
}
.btns {
  width: 100%;
  height: 35px;
  display: flex;
  gap: 20px;
  padding: 12px;
}
.btns button {
  width: 82px;
  height: 32px;
  background-color: #fff;
  border-radius: 16px;
}
.tasks {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
  align-items: center;
  gap: 15px;
  padding: 12px;
}
.display {
  width: 342px;
  height: 72px;
  border-radius: 16px;
  background-color: #243026;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.display:hover {
  background-color: #1c261f;
}
.display div {
  grid-column: 2/3;
  display: flex;
  gap: 12px;
  background-color: #6bb2f2;
  border-radius: 10px;
  justify-content: center;
}
.add {
  width: 100%;
  height: 30px;
}
.add form {
  width: 480px;
  height: 600px;
  border-radius: 12px;
  background-color: #fff;
  position: fixed;
  top: 10px;
  left: 40%;
  padding: 12px;
  transition: ease-in 400ms;
  box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.068);
  border-top: 6px solid #3d78fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add form input {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  text-align: justify;
  background-color: #f7faff;
  border: 2px solid #dee3ed;
  color: #a1abc2;
  text-transform: capitalize;
  font-family: "inter", sans-serif;
}

.cancel {
  position: absolute;
  top: -2px;
  right: 0;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}
.do {
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
}
.insert {
  position: absolute;
  bottom: 10px;
  left: 12%;
  width: 400px;
  height: 50px;
  background-color: #3d78fc;
  border-radius: 12px;
  border: none;
  color: #fff;
}
